{% extends "components/shared/modal.html" %} 
{% block id %}modalEntrenar{% endblock %} 
{% block title %}Cargar imagen{% endblock %} 
{% block content %} 
{% load static %}
<form id="form-entrenar" class="text-center" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-12">
			<input
				required
				type="file"
				class="hidden"
				id="upload-img"
				name="archivo_entrenar"
				accept="image/png, .jpeg, .jpg"
			/>
		</div>
		<div class="col-12">
			<label for="upload-img">
				<img
					class="img-6"
					id="render-img"
					src="{% static './assets/img/upload-img.png'%}"
				/>
			</label>
		</div>
	</div>
	<input id="submit-img-simulacion" class="hidden" type="submit" />
</form>
{% endblock %}
{% block footer %}
<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">
	Cerrar
</button>
<label for="submit-img-simulacion">
	<a class="btn bg-gradient-primary" onclick="simulacion()">Continuar</a>
</label>
{{ prueba}} 
{% endblock %}
