<style>
	footer {
		background-color: #009921;
		width: 100%;
		height: 100%;
		color: #fff;
	}
</style>
<footer>
	<div class="container text-center footer">
		<div class="row mt-3">
			<div class="col-sm mt-3">
				<span>Proyecto de aula de Inteligencia Artificial.</span>
				<p>Universidad Popular del Cesar.</p>
				<p>Valledupar - Cesar - Colombia.</p>
			</div>
			<div class="col-sm mt-3">
				<span>Contactanos.</span>
				<p>adanielfragozo@unicesar.edu.co</p>
				<p>lfernandocampo@unicesar.edu.co</p>
			</div>
			<div class="col-sm mt-3">
				<span>¿Quieres Saber mas de las arañas?</span>
				<p>
					<a href='http://www.malacologia.com.ar/MALACOLOGIA/PDF/FINAL.pdf' target="_blank">LAS ARAÑAS.</a>
				</p>
				<p>
					<a href='https://www.unimagdalena.edu.co/Content/Public/Docs/Entrada_Facultad3/adjunto_1029-20181004104925_435.pdf' target="_blank">ARÁCNIDOS: UN MUNDO EN OCHO PATAS.</a>
				</p>
			</div>
		</div>
	</div>
</footer>
