<footer>
	<div class="container text-center footer">
		<div class="row mt-3">
			<div class="col-sm pt-5 pb-5">
				<span><h6>Proyecto de aula de Inteligencia Artificial.</h6></span>
				<p>Universidad Popular del Cesar.</p>
				<p>Valledupar - Cesar - Colombia.</p>
			</div>
			<div class="col-sm pt-5 pb-5">
				<span><h6>Contactanos.</h6></span>
				<p>adanielfragozo@unicesar.edu.co</p>
				<p>lfernandocampo@unicesar.edu.co</p>
			</div>
			<div class="col-sm pt-5 pb-5">
				<span><h6>¿Quieres Saber mas de las arañas?</h6></span>
				<p>
					<a class="link" href='http://www.malacologia.com.ar/MALACOLOGIA/PDF/FINAL.pdf' target="_blank">LAS ARAÑAS.</a>
				</p>
				<p>
					<a class="link" href='https://www.unimagdalena.edu.co/Content/Public/Docs/Entrada_Facultad3/adjunto_1029-20181004104925_435.pdf' target="_blank">ARÁCNIDOS: UN MUNDO EN OCHO PATAS.</a>
				</p>
			</div>
		</div>
	</div>
</footer>
