{% extends "index.html" %} 
{% block title %}AraneaeIA - Home{% endblock %} 
{% block content %} 
{% load static %}
<div class="container">
	<div class="row text-center">
		<div class="col-12 mx-auto">
			<form id="form-simulacion" class="text-center" method="POST">{% csrf_token %}
				<input
					required
					type="file"
					class="hidden"
					id="upload-img"
					name="archivo_simular"
					accept="image/png, .jpeg, .jpg"
				/>
			</form>
			<p>{% include 'text/araneae.html' %}</p>
			<div class="card">
				<div class="card-header">
					Identifica una araña en linea
				  </div>
				<label for="upload-img" class='mt-3'>
					<img
						class="img-6"
						id="render-img"
						src="{% static './assets/img/upload-img.png'%}"
					/>
				</label>
				<hr />
				<div class="card-body">
					<p class="card-text">En este espacio puedes cargar la imagen de la araña a identificar, debes de tener en cuenta que la imagene debe tener proporciones minimas de 800 x 800 pixeles</p>
					<button class="btn btn-primary " onclick="simulacion()">
						Identificar
					</button>
				</div>
			</div>
			<div class='mt-3' id="response"></div>
		</div>
	</div>
</div>

{% endblock %}
